{% extends "./base.html" %}

{% block title %}
    {% if(create) %}
        Create a new User
    {% else %}
        Edit User
    {% endif %}
{% endblock title %}
{% block content %}
<form method="POST" class="form">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name() }}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password() }}
    </div>
    <div class="form-check form-check-inline">
        {{ form.active.label }}
        {{ form.active() }}
    </div>
    <br>
	<input type="submit" class="btn btn-success" value="Submit">
</form>
{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}