.img-fluid {
    max-width: 100%;
    height: auto;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}