.img-fluid {
    max-width: 100%;
    height: auto;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.gallery, .gallery * {
    box-sizing: border-box;
}
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.img-selector img:hover {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.img-selector img.selected {
    border: 2px solid rgba(58, 147, 215, 0.7);
    -webkit-box-shadow: 0 1px 6px rgba(58, 147, 215, 0.7);
    -moz-box-shadow: 0 1px 6px rgba(58, 147, 215, 0.7);
    box-shadow: 0 1px 6px rgba(58, 147, 215, 0.7);
}