{% extends "base.html" %}

{% block title %}Admin Page{% endblock title %}

{% block content %}
    <h1>User Management</h1>
    <table class="table table-striped">
    <tr>
        <th>Username</th>
        <th>Authenticated</th>
        <th>Active</th>
        <th></th>
        <th></th>
    </tr>
    {% for user in users %}
        <tr>
            <td>
                {{ user.get("name") }}
            </td>
            <td>
                {{ user.get("authenticated")  }}
            </td>
            <td>
                {{ user.get("active") }}
            </td>
            <td>
                <a href="{{ url_for('wiki.user_edit', user_id=user.id) }}" class="btn btn-sm btn-secondary">Edit</a>
            </td>
            <td>
                <a href="{{ url_for('wiki.user_delete', user_id=user.id) }}" class="text-info">X</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}

{% block sidebar %}
    <div class="text-center">
        <a href="{{ url_for('wiki.user_create') }}" class="btn btn-primary btn-large">New User</a>
    </div>
{% endblock sidebar %}
