{% extends "base.html" %}

{% block title -%}
Wiki Editor
{%- endblock title %}

{% block content %}
<ul class="nav nav-tabs">
	<li class="active"><a href="#editor" data-toggle="tab">Editor</a></li>
	<li><a href="#preview" data-toggle="tab" id="previewlink">Preview</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="editor">
		<form method="post" class="form">
			{{ form.hidden_tag() }}
			{{ input(form.title, placeholder="Title", class="span7", autocomplete="off") }}

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-img-selector1">
                Add Image
            </button>
			{{ input(form.body, placeholder="Markdown", class="span7", rows="20") }}
			{{ input(form.tags, placeholder="Tags (comma separated)", class="span7", autocomplete="off") }}
			<div class="form-actions">
        <div class="pull-left">
          <a class="btn" href="#preview" id="previewbtn">Preview</a>
        </div>
				<div class="pull-right">
          <a class="btn" href="{{ url_for('wiki.display', url=page.url) }}">Cancel</a>
					<button class="btn btn-success" type="submit">Save</button>
				</div>
			</div>
		</form>
	</div>
	<div class="tab-pane" id="preview"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal-img-selector1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Add Image...</h5>
            <ul class="nav nav-tabs">
                <li class="active" data-display=".tab-uploader"><a href="#">Upload Image</a></li>
                <li data-display=".tab-img-selector"><a href="#">Gallery</a></li>
            </ul>
            </div>
            <div class="modal-body" style="max-height:350px">
                <div class="tab-display tab-uploader">
                    <input type="file" id="img-uploader1" accept="image/png, image/jpeg, image/gif">
                </div>
                <div class="gallery img-selector hide tab-display tab-img-selector">
                    {% for image in images %}
                        <div class="mb-3 pics animation all 2">
                            <img src="{{ url_for('static', filename=('images/'+image)) }}" class="img-fluid img-polaroid"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <div id="img-upload-error" class="alert alert-danger pull-left hide" role="alert">
                  Something went wrong, try again later!
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeWindow()">Cancel</button>
                <button type="button" class="btn btn-primary tab-display tab-uploader" id="btn-upload-image1" disabled>Upload Image</button>
                <button type="button" class="btn btn-primary tab-display tab-img-selector hide" id="btn-add-image1" disabled>Add Selected Image</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block sidebar %}
<h3>Editor How-To</h3>
<p>This editor is <a href="http://daringfireball.net/projects/markdown/">markdown</a> featured.</p>
<pre><code>* I
* am
* a
* list</code></pre>
Turns into:
<ul>
<li>I</li>
<li>am</li>
<li>a</li>
<li>list</li>
</ul>
<p><code>**bold** and *italics*</code> turn into <strong>bold</strong> and <em>italics</em>. Very easy!</p>
<p>Create links with <code>[NoTube](http://www.notube.com)</code>. They turn into <a href="http://www.notube.com">NoTube</a>.</p>
<p>Headers are as follows:</p>
<pre><code># Level 1
## Level 2
### Level 3</code></pre>
<p></p>

{% endblock sidebar %}

{% block postscripts -%}
{{ super() }}
$('#previewlink').on('click', function() {
	var $form = $('.form');
  var $inputs = $form.find('input, textarea, button');
  var $pre = $('#preview');
  var bodycontent = 'title: preview\n\n' + $form.find('textarea').val();
  $inputs.prop('disabled', true);
  $pre.removeClass('alert').removeClass('alert-error').html("Loading...");
  $.ajax({
    url: "{{ url_for('wiki.preview') }}",
    type: "POST",
    data: { body: bodycontent },
    success: function(msg) {
      $pre.html(msg);
      console.log(msg);
    },
    error: function() {
			$pre.addClass('alert').addClass('alert-error');
      $pre.html('There was a problem with the preview.');
    },
    complete: function() {
      $inputs.prop('disabled', false);
    }
  });
});
$('#previewbtn').on('click', function(event) {
	event.preventDefault();
	$('#previewlink').click();
});

$(".nav-tabs li").click(function() {
    $(".nav-tabs li").removeClass("active");
    $(".tab-display").hide();

    $(this).addClass("active");
    var s = $(this).data("display");
    $(s).show();
})

$("#img-uploader1").change(function() {
    $("#btn-upload-image1").prop('disabled', false);
});

$("#btn-upload-image1").click(function() {
    var fileInput = document.getElementById('img-uploader1');
        var file = fileInput.files[0];
        var formData = new FormData();
        formData.append('file', file);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{{ url_for('wiki.pictures') }}', true);
    xhr.send(formData);
    xhr.addEventListener("load", addImageAndClose);
    xhr.addEventListener("error", displayError);

    function displayError(e) {
        $("#img-upload-error").show();
    }

    function addImageAndClose(e) {
        var response = JSON.parse(e.target.response);
        var filename = response.filename;
        if (filename != "") {
            var str = '![Image]({{ url_for('static', filename=('images/')) }}'+ filename +')';
            $('textarea#body').val(function(i, text) {
                return text + str;
            });
            closeWindow();
        }
        else {
            displayError();
        }
    }

});

function closeWindow() {
    $('#modal-img-selector1').modal('hide');
    $("#img-upload-error").hide();
    $("#img-uploader1").val('');
    $(".img-selector img").removeClass("selected");
}

$(".img-selector img").click(function() {
    $(".img-selector img").removeClass("selected");
    $(this).addClass("selected");
    $("#btn-add-image1").prop('disabled', false);
});

$("#btn-add-image1").click(function() {
    var selected = $(".img-selector img.selected");
    var src = selected.attr('src');
    $('#body').append('![Image](' + src + ')');
    closeWindow();
});
{%- endblock postscripts %}
